spring:
  application:
    name: video-service
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://kc.diddis.top/realms/edufyrealm
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    show-sql: false

  sql:
    init:
      mode: always
    platform: h2

  jackson:
    default-property-inclusion: non_null

server:
  port: 8082